<%- include ../head %>


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://www.freez.com.au/blog/wp-content/uploads/2014/10/YVES.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://wp.patheos.com.s3.amazonaws.com/blogs/carynriswold/files/2013/04/Macklemore-SameLove-Lyrics.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://www.fitfoundme.com/wp-content/uploads/2015/10/Love-Yourself-Enough-to-Work-Harder..jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <% if (articles.length > 0) { %>
                        <% for(var i = 0; i < articles.length; i++) { %>
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <div class="bild"><img id="<%= articles[i].name %>_image" src="http://placehold.it/320x150" alt=""></div>
                                    <div class="caption">
                                        <h4 class="pull-right"><%= articles[i].price %>,- €</h4>
                                        <h4><a href="./article?id=<%= articles[i].id %>"><%= articles[i].name %></a></h4>
                                        <h6 class="text-muted"> Produkt-id:
                                            <%= articles[i].id %>
                                        </h6>
                                        <p>
                                            <%= articles[i].description %>
                                        </p>
                                    </div>
                                    <% if (session.userName) { %>
                                        <div class="ctrl">

                                            <div class="form-group">
                                                <input type="hidden" value="<%= articles[i].id %>" name="id">
                                                <% if (articles[i].storage<=0) { %>
                                                    <button type="submit" class="btn btn-warning btn-sm sharp add disabled" data-id="<%= articles[i].id %>">Nicht verfügbar</button>
                                                    <% } else { %>
                                                        <button type="submit" class="btn btn-warning btn-sm sharp add" data-id="<%= articles[i].id %>">Add to Cart</button>
                                                        <% } %>
                                            </div>

                                        </div>
                                        <% } %>
                                            <div class="ratings">
                                                <p class="pull-right">15 reviews</p>
                                                <p>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                </p>
                                            </div>
                                </div>
                            </div>
                            <% } %>
                                <% } else { %>
                                    <div class="col-sm-12 col-lg-12 col-md-12">
                                        <div class="thumbnail">
                                            <h4 style="margin:1%;">Keine Artikel verfügbar!</h4>
                                        </div>
                                    </div>
                                    <% } %>


                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/allArticle.js"></script>



    <%- include ../foot %>