<%- include ../head %>


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>

            <div class="col-md-9">


                <div class="row">
                    <% if (articles.length > 0) { %>
                        <% for(var i = 0; i < articles.length; i++) { %>
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <div class="bild"><img id="<%= articles[i].name %>_image" src="http://placehold.it/320x150" alt=""></div>
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                                    <script type="text/javascript">
                                        var keyword = "<%= articles[i].name %>";



                                        $.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?jsoncallback=?", {
                                                tags: keyword,
                                                tagmode: "any",
                                                format: "json"
                                            },
                                            function(data) {
                                                var rnd = Math.floor(Math.random() * data.items.length);
                                                var image_src = data.items[rnd].media.m.replace("_m", "_b");

                                                document.getElementById('<%= articles[i].name %>_image').setAttribute("src", image_src);



                                            });
                                    </script>
                                    <div class="caption">
                                        <h4 class="pull-right"><%= articles[i].price %>,- €</h4>
                                        <h4><a href="./article?id=<%= articles[i].id %>"><%= articles[i].name %></a>
                                </h4>
                                        <p>
                                            <%= articles[i].description %>
                                        </p>
                                    </div>
                                    <% if (session.userName) { %>
                                    <div class="ctrl">
                                        <button class="btn btn-warning btn-sm sharp add" id="<%= articles[i].id %>">Add to Cart</button>
                                    </div>
                                    <% } %>
                                    <div class="ratings">
                                        <p class="pull-right">15 reviews</p>
                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } else { %>Es sind zur Zeit leider keine Artikel verfügbar.
                                    <% } %>


                </div>

            </div>

        </div>

    </div>




    <%- include ../foot %>
