<%- include ../head %>


    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Ihr Warenkorb:</p>
            </div>

            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:60%">Produkt</th>
                        <th style="width:22%">Preis</th>
                        <th style="width:8%">Anzahl</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <% if (articles.length > 0) { %>
                    <tbody>
                        <% for(var i = 0; i < articles.length; i++) { %>

                            <tr>

                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs">
                                            <imgid="<%= articles[i].name %>_image" src="http://placehold.it/320x150" alt="..." class="img-responsive" />
                                        </div>
                                        <div class="col-sm-10">
                                            <h4 class="nomargin"><a href="./article?id=<%= articles[i].id %>"><%= articles[i].name %></a></h4>
                                            <p>
                                                <%= articles[i].description %>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price" class="articlePrice">
                                    <%= articles[i].price %> €</td>
                                <td data-th="Quantity">
                                    <input type="number" class="form-control text-center" value=" <%= articles[i].qty %>">
                                </td>

                                <td class="actions" data-th="">
                                    <div class="article">
                                        <button class="btn btn-info btn-sm disabled"><i class="fa fa-refresh"></i></button>
                                        <button id="rmbtn_<%= articles[i].id %>" class="btn btn-danger btn-sm rmitem"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </td>

                            </tr>


                            <% } %>
                    </tbody>
                    <% } else { %>
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="thumbnail">
                                <h4 style="margin:1%;">Der Warenkorb ist leer!</h4>
                            </div>
                        </div>
                        <% } %>
                            <tfoot>
                                <tr class="visible-xs">
                                    <td class="text-center"><strong>Insgesamt: 1.99</strong></td>
                                </tr>
                                <tr>
                                    <td><a href="127.0.0.1:3001/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Weiter einkaufen</a></td>
                                    <td colspan="2" class="hidden-xs"></td>
                                    <td class="hidden-xs text-center" id="insgesamtTD">Insgesamt $1.99</strong>
                                    </td>
                                    <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                                    <script type="text/javascript">

                                    </script>
                                </tr>
                            </tfoot>
            </table>
        </div>

        <%- include ../foot %>

            <script>
                summe();
                $(".rmitem").click(function() {

                    $.ajax({
                        url: '/cart?id=' + $(this).attr('id').split("rmbtn_")[1],
                        type: 'PATCH',
                        function(data) {

                        }
                    });
                    $(this).closest('tr')
                        .children('td')
                        .animate({
                            padding: 0
                        })
                        .wrapInner('<div />')
                        .children()
                        .slideUp(function() {
                            $(this).closest('tr').remove();
                            summe();
                        });


                });

                function summe(){
                  var foo = document.getElementsByClassName('articlePrice');
                  var bar = 0;
                  for (var i = 0; i < foo.length; i++) {
                      bar += parseFloat(foo[i].innerHTML.split(' €')[0]);
                  }
                  document.getElementById('insgesamtTD').innerHTML = '<strong>Insgesamt: ' + bar + " €</strong>";
                  return;
                }
            </script>
