<%- include ../head %>

    <div class="row">
        <div class="container-fluid">
            <div class="container">
                <div class="col-md-5">
                    <div class="product col-md-3">
                        <center>
                            <div id="bild"><img id="<%= article.name %>_image" src="http://placehold.it/320x150" class="img-responsive" alt=""></div>
                        </center>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="product-title">
                        <%= article.name %>
                    </div>
                    <div class="product-desc">
                        <%= article.description %>
                    </div>
                    <div class="ratings">
                        <p id="reviewbox_<%= article.id %>" class="pull-right">15 reviews</p>
                        <p id="starbox_<%= article.id %>">
                            <script type="text/javascript">
                                var rnd = Math.floor(Math.random() * 5) + 1;
                                var htmlElements = "";
                                for (var i = 0; i < rnd; i++) {
                                    htmlElements += '<span class="glyphicon glyphicon-star"></span>';
                                }
                                var container = document.getElementById("starbox_<%= article.id %>");
                                document.getElementById("reviewbox_<%= article.id %>").innerHTML = Math.floor(Math.random() * 100) + 1 + " Bewertungen";
                                container.innerHTML = htmlElements;
                            </script>
                        </p>
                    </div>
                    <hr>
                    <div class="product-price">
                        <%= article.price %>,- €
                    </div>
                    <div class="product-stock" <% if (article.storage> 0) { %> style="color:#00FF26">
                        <% } else { %> style="color:#00FF26">
                            <% } %>
                                <%= article.storage %> auf Lager.
                    </div>
                    <hr>
                    <% if (session.userName) { %>
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-warning btn-sm sharp add" href="/cart/1" data-id="<%= article.id %>">Add to Cart</button>
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control text-center" style="width: 120px" placeholder="Anzahl" value="1" min="1" max="<%= article.storage %>" id="quantity">
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/detailpage.js"></script>

    <%- include ../foot %>